<div id="hero-texts">
  <h3>Somos a solução completa para pagamentos online rápidos e confiáveis.</h3>
  <p>
    O Futuro dos Pagamentos está aqui. Simplifique e acelere suas transações com
    a
    <span class="detail-bg">menor taxa do mercado</span> na WiinPay Pagamentos,
    melhorando a eficiência operacional e aumentando a satisfação do seu
    cliente. <br /><br /><span id="detail-02">
      Não importa se você é um pequeno lojista ou uma grande empresa, somos a
      solução com a flexibilidade e a confiabilidade que você precisa para
      prosperar no mercado digital!
    </span>
  </p>
</div>
<div id="hero-images">
  <div id="phone-and-notifications-container">
    <div id="phone-container">
      <img
        decoding="async"
        width="347"
        height="762"
        src="/public/images/phone.avif"
        class="attachment-full size-full wp-image-290"
        alt=""
        srcset="/public/images/phone.avif 347w, /public/images/phone.avif 137w"
        sizes="(max-width: 347px) 100vw, 347px"
      />
    </div>
    <div class="notification-container">
      <div class="notification-wrapper">
        <img
          loading="lazy"
          decoding="async"
          width="355"
          height="64"
          src="/public/images/notification-01.png"
          class="notification-image"
          alt=""
        />
      </div>
    </div>
    <div class="notification-container">
      <div class="notification-wrapper">
        <img
          loading="lazy"
          decoding="async"
          width="355"
          height="64"
          src="/public/images/notification-02.png"
          class="notification-image"
          alt=""
        />
      </div>
    </div>
    <div class="notification-container">
      <div class="notification-wrapper">
        <img
          loading="lazy"
          decoding="async"
          width="355"
          height="64"
          src="/public/images/notification-03.png"
          class="notification-image"
          alt=""
        />
      </div>
    </div>
    <div id="background-graph"></div>
  </div>
</div>
