#hero {
  align-items: center;
  align-self: auto;
  color: var(--var-color-primary);
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 60px;
  height: 100%;
  justify-content: flex-start;
  margin-top: 110px;
  box-sizing: border-box;
  width: 100%;
}

#hero-texts {
  padding: 0px 50px;
}

#hero h3 {
  font-size: 8vw;
  font-weight: 700;
  line-height: 1.1em;
  margin-bottom: 30px;
}

#hero p {
  font-size: 4.2vw;
  font-weight: 400;
  line-height: 1em;
}

#hero p .detail-bg {
  color: #D8B4FE;
  background-color: #7E22CE4D;
}

#hero p #detail-02 {
  font-size: 14px;
  line-height: 14px;
}

#hero-images {
  position: relative;
  width: 100%;
}

#phone-and-notifications-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

#background-graph {
  align-self: flex-end;
  background-image: url(/public/images/png-chart.png);
  background-position: 27% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -30px;
  height: 300px;
  opacity: 0.2;
  position: absolute;

  width: 80%;
  z-index: 0;
}

#phone-container {
  align-self: center;
  animation: ip 5s ease-in-out infinite -2s;
  pointer-events: none;
  width: 60%;
  z-index: 1;
}

#phone-container img {
  height: 100%;
  width: 100%;
}

.notification-container {
  pointer-events: none;
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: 3;
}

.notification-wrapper img {
  width: 225px;
  height: auto;

}

.notification-container:nth-of-type(1),
.notification-wrapper:nth-of-type(1) {
  animation: notification-animation 5.5s ease-in-out infinite;
  left: -10;
}

.notification-container:nth-of-type(2),
.notification-wrapper:nth-of-type(2) {
  animation: notification-animation 4.3s ease-in-out infinite;
  left: 63px;
}


.notification-container:nth-of-type(3),
.notification-wrapper:nth-of-type(3) {
  animation: notification-animation 4s ease-in-out infinite;
  left: 113px;
}