<div>
  <div>
    <div>
      <img
        alt="logo"
        decoding="async"
        src="/public/images/logo-faixa.png"
        height="24px"
        width="auto"
      /><span>ESCALE SEM BLOQUEIOS</span>

      <img
        alt="logo"
        decoding="async"
        src="/public/images/logo-faixa.png"
        height="24px"
        width="auto"
      /><span>ESCALE SEM BLOQUEIOS</span>

      <img
        alt="logo"
        decoding="async"
        src="/public/images/logo-faixa.png"
        height="24px"
        width="auto"
      /><span>ESCALE SEM BLOQUEIOS</span>

      <img
        alt="logo"
        decoding="async"
        src="/public/images/logo-faixa.png"
        height="24px"
        width="auto"
      /><span>ESCALE SEM BLOQUEIOS</span>

      <img
        alt="logo"
        decoding="async"
        src="/public/images/logo-faixa.png"
        height="24px"
        width="auto"
      /><span>ESCALE SEM BLOQUEIOS</span>

      <img
        alt="logo"
        decoding="async"
        src="/public/images/logo-faixa.png"
        height="24px"
        width="auto"
      /><span>ESCALE SEM BLOQUEIOS</span>

      <img
        alt="logo"
        decoding="async"
        src="/public/images/logo-faixa.png"
        height="24px"
        width="auto"
      /><span>ESCALE SEM BLOQUEIOS</span>

      <img
        alt="logo"
        decoding="async"
        src="/public/images/logo-faixa.png"
        height="24px"
        width="auto"
      /><span>ESCALE SEM BLOQUEIOS</span>

      <img
        alt="logo"
        decoding="async"
        src="/public/images/logo-faixa.png"
        height="24px"
        width="auto"
      /><span>ESCALE SEM BLOQUEIOS</span>
      <img
        alt="logo"
        decoding="async"
        src="/public/images/logo-faixa.png"
        height="24px"
        width="auto"
      /><span>ESCALE SEM BLOQUEIOS</span>
    </div>
  </div>
</div>
<div
  class="elementor-element elementor-element-e89ff22 faixa-02 e-con-full e-flex e-con e-child"
  data-id="e89ff22"
  data-element_type="container"
>
  <div
    class="elementor-element elementor-element-6165e86 elementor-widget__width-inherit elementor-widget elementor-widget-text-editor"
    data-id="6165e86"
    data-element_type="widget"
    data-widget_type="text-editor.default"
  >
    <div class="elementor-widget-container">
      <img
        alt="logo"
        decoding="async"
        src="/public/images/short-logo.png"
        height="25px"
        width="auto"
      /><span>A NOVA ERA DOS PAGAMENTOS CHEGOU</span
      ><img
        alt="logo"
        decoding="async"
        src="/public/images/short-logo.png"
        height="25px"
        width="auto"
      /><span>ESCALE COMO NUNCA</span>

      <img
        alt="logo"
        decoding="async"
        src="/public/images/short-logo.png"
        height="25px"
        width="auto"
      /><span>A NOVA ERA DOS PAGAMENTOS CHEGOU</span
      ><img
        alt="logo"
        decoding="async"
        src="/public/images/short-logo.png"
        height="25px"
        width="auto"
      /><span>ESCALE COMO NUNCA</span>
      <img
        alt="logo"
        decoding="async"
        src="/public/images/short-logo.png"
        height="25px"
        width="auto"
      /><span>A NOVA ERA DOS PAGAMENTOS CHEGOU</span
      ><img
        alt="logo"
        decoding="async"
        src="/public/images/short-logo.png"
        height="25px"
        width="auto"
      /><span>ESCALE COMO NUNCA</span>
      <img
        alt="logo"
        decoding="async"
        src="/public/images/short-logo.png"
        height="25px"
        width="auto"
      /><span>A NOVA ERA DOS PAGAMENTOS CHEGOU</span
      ><img
        alt="logo"
        decoding="async"
        src="/public/images/short-logo.png"
        height="25px"
        width="auto"
      /><span>ESCALE COMO NUNCA</span>
      <img
        alt="logo"
        decoding="async"
        src="/public/images/short-logo.png"
        height="25px"
        width="auto"
      /><span>A NOVA ERA DOS PAGAMENTOS CHEGOU</span
      ><img
        alt="logo"
        decoding="async"
        src="/public/images/short-logo.png"
        height="25px"
        width="auto"
      /><span>ESCALE COMO NUNCA</span>
      <img
        alt="logo"
        decoding="async"
        src="/public/images/short-logo.png"
        height="25px"
        width="auto"
      /><span>A NOVA ERA DOS PAGAMENTOS CHEGOU</span
      ><img
        alt="logo"
        decoding="async"
        src="/public/images/short-logo.png"
        height="25px"
        width="auto"
      /><span>ESCALE COMO NUNCA</span>
      <img
        alt="logo"
        decoding="async"
        src="/public/images/short-logo.png"
        height="25px"
        width="auto"
      /><span>A NOVA ERA DOS PAGAMENTOS CHEGOU</span
      ><img
        alt="logo"
        decoding="async"
        src="/public/images/short-logo.png"
        height="25px"
        width="auto"
      /><span>ESCALE COMO NUNCA</span>
      <img
        alt="logo"
        decoding="async"
        src="/public/images/short-logo.png"
        height="25px"
        width="auto"
      /><span>A NOVA ERA DOS PAGAMENTOS CHEGOU</span
      ><img
        alt="logo"
        decoding="async"
        src="/public/images/short-logo.png"
        height="25px"
        width="auto"
      /><span>ESCALE COMO NUNCA</span>
    </div>
  </div>
</div>
