<div id="subhero-1-texts" class="hide-element animation-from-bottom">
  <h3>
    Transmita Credibilidade , Confiança e facilidade aos Seus Clientes com nosso
    <span class="detail-bg">Chekout de</span>
    <span class="detail-bg color">alta conversão!</span>
  </h3>
  <p>
    Elimine as barreiras e Potencialize Seus Pagamentos Online com a Nova Era!
    <br />
    <br />

    Chega de se preocupar com segurança, integração e custos ao contratar um
    gateway de pagamentos! Com a Nova Era Pagamentos, você elimina as principais
    barreiras de quem busca uma solução completa em pagamentos online
  </p>
</div>
<div id="subhero-1-cards">
  <div
    id="subhero-1-card-1"
    class="subhero-card hide-element animation-from-top"
  >
    <div class="subhero-card-container">
      <div class="subhero-card-wrapper">
        <div class="subhero-card-content">
          <h3>
            Segurança de Ponta a Ponta:
            <span>Proteja Seus Dados e os de Seus Clientes</span>
          </h3>
          <p>
            Utilizamos um cofre digital altamente seguro, protegendo suas
            informações contra cibercriminosos. Além disso, nossa equipe de
            especialistas em segurança está disponível para fornecer suporte
            dedicado e resolver qualquer questão relacionada à segurança que
            você possa ter.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    id="subhero-1-card-2"
    class="subhero-card hide-element animation-from-left"
  >
    <div class="subhero-card-container">
      <div class="subhero-card-wrapper">
        <div class="subhero-card-content">
          <h3>
            Segurança de Ponta a Ponta:
            <span>Proteja Seus Dados e os de Seus Clientes</span>
          </h3>
          <p>
            Utilizamos um cofre digital altamente seguro, protegendo suas
            informações contra cibercriminosos. Além disso, nossa equipe de
            especialistas em segurança está disponível para fornecer suporte
            dedicado e resolver qualquer questão relacionada à segurança que
            você possa ter.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    id="subhero-1-card-3"
    class="subhero-card hide-element animation-from-bottom"
  >
    <div class="subhero-card-container">
      <div class="subhero-card-wrapper">
        <div class="subhero-card-content">
          <h3>
            Segurança de Ponta a Ponta:
            <span>Proteja Seus Dados e os de Seus Clientes</span>
          </h3>
          <p>
            Utilizamos um cofre digital altamente seguro, protegendo suas
            informações contra cibercriminosos. Além disso, nossa equipe de
            especialistas em segurança está disponível para fornecer suporte
            dedicado e resolver qualquer questão relacionada à segurança que
            você possa ter.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="subhero-1-button" class="hide-element animation-from-top">
  <div id="subhero-1-button-wrapper">
    <div id="subhero-1-button-content">
      <a href="https://app.wiinpay.com.br/sign-up">
        <span>
          <span>CRIAR CONTA</span>
          <span></span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
            >
              <path
                d="M0.265381 0.619965V3.64778H7.85665L0.265381 11.239V13.38H2.40637L9.99764 5.78877V13.38H13.0255V0.619965H0.265381Z"
                fill="#171C1B"
              ></path>
            </svg>
          </span>
        </span>
      </a>
    </div>
  </div>
</div>
