<div id="subhero-3-wrapper">
  <div id="subhero-3-content">
    <div id="subhero-3-texts">
      <h3 class="detail-bg">Dashboard <span>Inteligente</span></h3>
    </div>
    <div id="subhero-3-image">Print Dashboard</div>
    <div id="subhero-3-cards">
      <div
        id="subhero-3-card-1"
        class="subhero-card subhero-card-v2 hide-element animation-from-top"
      >
        <div class="subhero-card-container">
          <div class="subhero-card-wrapper">
            <div class="subhero-card-content">
              <h3>
                Crie seu produto digital sem precisar investir nada e faça suas
                primeiras vendas
              </h3>
              <p>
                <img
                  alt="check-icon"
                  decoding="async"
                  src="/public/images/check-icon.svg"
                />
                Segurança e criptografia de dados robusta, antifraude;
                <br /><br />
                <img
                  alt="check-icon"
                  decoding="async"
                  src="/public/images/check-icon.svg"
                />
                Ofereça aos seus clientes uma experiência de compra impecável,
                com checkout rápido e seguro, sem complicações.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        id="subhero-3-card-2"
        class="subhero-card subhero-card-v2 hide-element animation-from-left"
      >
        <div class="subhero-card-container">
          <div class="subhero-card-wrapper">
            <div class="subhero-card-content">
              <h3>Integrações para Gestão de Negócios:</h3>
              <p>
                <img
                  alt="check-icon"
                  decoding="async"
                  src="/public/images/check-icon.svg"
                />
                Integração com sistemas automatizados de CRM e gestão de pedidos
                automaticamente;
                <br /><br />
                <img
                  alt="check-icon"
                  decoding="async"
                  src="/public/images/check-icon.svg"
                />
                Ofereça suporte ao cliente automatizado via chatbot inteligente
                com base no histórico de compras e preferências de pagamento do
                cliente.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        id="subhero-3-card-3"
        class="subhero-card subhero-card-v2 hide-element animation-from-right"
      >
        <div class="subhero-card-container">
          <div class="subhero-card-wrapper">
            <div class="subhero-card-content">
              <h3>Integrações para Marketing e Vendas:</h3>
              <p>
                <img
                  alt="check-icon"
                  decoding="async"
                  src="/public/images/check-icon.svg"
                />
                Integre-se com ferramentas de automação de marketing de email e
                sms markeing como Mailchimp e SMS Funnel;
                <br /><br />
                <img
                  alt="check-icon"
                  decoding="async"
                  src="/public/images/check-icon.svg"
                />
                Fidelize seus clientes com ofertas personalizadas de maneira
                automatizada com nossas integrações de recuperação de carrinho e
                ós venda automáticos
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
