<div id="subhero-4-wrapper">
  <div id="subhero-4-content">
    <div id="subhero-4-texts">
      <h3>Controle total do seu negócio com integrações que conectam tudo</h3>
      <div id="subhero-4-button">
        <div id="subhero-4-button-wrapper">
          <div id="subhero-4-button-content">
            <a href="https://app.wiinpay.com.br/sign-up">
              <span>
                <span>CRIAR CONTA</span>
                <span></span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="14"
                    height="14"
                    viewBox="0 0 14 14"
                    fill="none"
                  >
                    <path
                      d="M0.265381 0.619965V3.64778H7.85665L0.265381 11.239V13.38H2.40637L9.99764 5.78877V13.38H13.0255V0.619965H0.265381Z"
                      fill="#171C1B"
                    ></path>
                  </svg>
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="subhero-4-cards">
      <div
        id="subhero-4-card-1"
        class="subhero-card subhero-card-v2 hide-element animation-from-top"
      >
        <div class="subhero-card-container">
          <div class="subhero-card-wrapper">
            <div class="subhero-card-content">
              <h3>
                Venda mais para os mesmos clientes;
              </h3>
              <p>
                <img
                  alt="check-icon"
                  decoding="async"
                  src="/public/images/check-icon.svg"
                />
                Painéis de gestão de recorrências de assinaturas intuitivo;
                <br /><br />
                <img
                  alt="check-icon"
                  decoding="async"
                  src="/public/images/check-icon.svg"
                />
                Orderbump otimizado para máxima conversão com compra em 1 clique;
                <br /><br />
                <img
                  alt="check-icon"
                  decoding="async"
                  src="/public/images/check-icon.svg"
                />
                Upsell automático com integração por todo seu funil de vendas, incluindo Downsell e pós venda com mensagens automáticas.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
