#subhero-1 {
  align-items: center;
  align-self: auto;
  color: var(--color-primary);
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  gap: 60px;
  justify-content: flex-start;
  overflow-x: hidden;
  max-width: 100%;
  margin-top: 110px;
  box-sizing: border-box;
  width: 100%;
}

#subhero-1-texts {
  padding: 0px 50px;
  height: auto;
}

#subhero-1-texts h3 {
  font-size: 8vw;
  margin-bottom: 30px;
}

#subhero-1-cards h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1em;

}

#subhero-1 p {
  color: var(--color-paragraph);
  font-size: 4.2vw;
  font-weight: 400;
  line-height: 1em;
}

#subhero-1-texts .detail-bg {
  color: #D8B4FE;
  background-color: #7E22CE4D;
}

#subhero-1-texts .detail-bg.color {
  color: var(--color-secondary)
}

#subhero-1-texts #detail-02 {
  color: var(--color-pink);
  font-size: 14px;
  line-height: 14px;
}

#subhero-1-button {
  box-sizing: border-box;
  padding: 0px 50px 20px 50px;
  width: 100%;
}

#subhero-1-button-wrapper {
  width: 100%;
}

#subhero-1-button-content {
  width: 100%;
}

#subhero-1-button-content>a {
  animation: btn-animation 3s ease-in-out;
  background: var(--color-gradient);
  border: 1px solid #1a171c;
  border-radius: 18px 6px;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 1), 0px 10px 20px rgba(1, 1, 1, .5);
  color: black;
  display: inline-flex;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  outline: 1px solid white;
  outline-offset: 3px;
  padding: 15px 18px;
  width: 100% !important;
}

@media screen and (min-width: 720px) {
  #subhero-1 {
    padding: 0px 350px;
  }

  #subhero-1-texts {
    padding: 0px;
  }

  #subhero-1-texts h3 {
    font-size: 42px;
    line-height: 42px;
  }

  #subhero-1-texts p {
    font-size: 20px;
    line-height: 20px;
  }

  #subhero-1-button {
    width: 550px;
  }
}