:root {
  --border: 1px solid #A855F7;
  --color-primary: #A855F7;
  --color-secondary: rgb(251, 0, 255);
  --color-gradient: linear-gradient(90deg, #c28ff5 0%, #A855F7 100%);
  --color-gradient-opacity: linear-gradient(180deg,
      rgba(168, 85, 247, 0.6) 0%,
      rgba(168, 85, 247, 1) 100%);
  --background-header: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='30' viewBox='0 0 16 32'%3E%3Cg fill='%239C92AC' fill-opacity='0.08'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
  --background-body: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='12' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23ffffff' fill-opacity='0.02'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --background-cards: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='30' viewBox='0 0 16 32'%3E%3Cg fill='%239C92AC' fill-opacity='0.08'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  all: unset;
  display: inline;

}

body {
  background-color: #0D0D0D;
  background-attachment: fixed;
  background-image: var(--background-body);
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  width: 100dvw;
  max-width: 100dvw;
  overflow-x: hidden;
}

main {
  padding: 150px 0px 100px 0px;
  width: 100%;
}

.detail-bg {
  color: #D8B4FE;
  background-color: #7E22CE4D;
}

@keyframes btn-animation {

  0%,
  100% {
    background-size: 150%;
    background-position: 0%;
  }

  50% {
    background-size: 150%;
    background-position: 100%;
  }
}

@keyframes btn-animation-l {
  0% {
    outline: 1px solid #fff;
  }

  50%,
  100% {
    outline-offset: 10px;
    outline: 1px solid #ffffff00;
  }
}

@keyframes seta {

  0%,
  100% {
    margin-left: 5px;
    margin-right: 12px;
  }

  50% {
    margin-left: 12px;
    margin-right: 5px;
  }
}

@keyframes ip {

  0%,
  100% {
    transform: translate(0px);
  }

  50% {
    transform: translate(10px, 20px) rotate(1.5deg);
    transform-origin: bottom right;
  }
}

@keyframes notification-animation {
  0% {
    transform: translatey(0px);
    opacity: 0;
    filter: blur(5px);
  }

  50% {
    opacity: 1;
    filter: blur(0px);
  }

  80% {
    transform: translatey(-100px);
    opacity: 1;
  }

  100% {
    transform: translatey(-80px);
    opacity: 0;
  }
}

@keyframes strip-animation {
  0% {
    transform: translatex(-100%);
  }

  100% {
    transform: translatex(1%);
  }
}